@page
@model WebApplication.Pages_Stocks.DetailsModel

@{
    ViewData["Title"] = "Details";
}

<h1>Details</h1>

<div>
    <h4>Stock</h4>
    <hr />
    <dl class="row">
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock!.Name)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock!.Name)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock!.Location)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock!.Location)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock!.Amount)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock!.Amount)
        </dd>
        <dt class="col-sm-2">
            @Html.DisplayNameFor(model => model.Stock!.Product)
        </dt>
        <dd class="col-sm-10">
            @Html.DisplayFor(model => model.Stock!.Product!.Name)
        </dd>
    </dl>
</div>
<div>
    <a asp-page="./Edit" asp-route-id="@Model.Stock!.Id">Edit</a> |
    <a asp-page="./Index">Back to List</a>
</div>
